
###> symfony/framework-bundle ###
src/api/.env.local
src/api/.env.local.php
src/api/.env.*.local
src/api/config/secrets/prod/prod.decrypt.private.php
src/api/public/bundles/
src/api/var/
src/api/vendor/
###< symfony/framework-bundle ###
